@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
* {
  font-family: "Instrument Sans", serif;
}
.averia-serif-libre-light {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .averia-serif-libre-regular {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .averia-serif-libre-bold {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .averia-serif-libre-light-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .averia-serif-libre-regular-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .averia-serif-libre-bold-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: italic;
  }


  
.instrument-sans-light {
    font-family: "Instrument Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .instrument-sans-regular {
    font-family: "Instrument Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .instrument-sans-bold {
    font-family: "Instrument Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .instrument-sans-light-italic {
    font-family: "Instrument Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .instrument-sans-regular-italic {
    font-family: "Instrument Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .instrument-sans-bold-italic {
    font-family: "Instrument Sans", serif;
    font-weight: 700;
    font-style: italic;
  }