@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-family: "Instrument Sans", serif;
}
.caprasimo-light {
    font-family: "Caprasimo", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .caprasimo-bold {
    font-family: "Caprasimo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .caprasimo-light-italic {
    font-family: "Caprasimo", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .caprasimo-regular-italic {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .caprasimo-bold-italic {
    font-family: "Caprasimo", serif;
    font-weight: 700;
    font-style: italic;
  }


  
.instrument-sans-light {
    font-family: "Instrument Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .instrument-sans-regular {
    font-family: "Instrument Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .instrument-sans-bold {
    font-family: "Instrument Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .instrument-sans-light-italic {
    font-family: "Instrument Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .instrument-sans-regular-italic {
    font-family: "Instrument Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .instrument-sans-bold-italic {
    font-family: "Instrument Sans", serif;
    font-weight: 700;
    font-style: italic;
  }

  @import "tailwindcss";